.btn{
    padding: 13px 26px;
    background-color: #4dd1cd;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    font-weight: 400;
    text-align: center;
    // max-width: 250px;
    // overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
}